.container {
    background: #18181b;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: center;
  }
  .deck {
    position: absolute;
    width: 300px;
    height: 280px;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }
  
  .deck > div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 150px;
    height: 85vh;
    max-height: 285px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
  .name {
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    height: 12px;
  }
  .title {
    cursor: text;
    margin: auto;
    margin-top: 1rem;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 4px 8px;
    border: 1px solid rgb(255 255 255 / 0.2);
    color: #2bb6a5;
  }
  .svg {
    width: 1rem;
    height: 1rem;
    color: #2bb6a5;
  }
  