
  
.container {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 24px;
    max-width: 800px;

}
.imagesContainer{
    display: flex;
    gap: 2.5rem;
    position: absolute;
    top: 0;
    left: -330px;
}
.roll{
    position: relative;
    color: red;
    animation-duration: 2s;
    animation-name: roll;
}
@keyframes roll {
    0%{
        top: 40px;
    }
    100%{
        top: 0px;
    }
}
@media only screen and (min-width: 1320px) {
    .container{
        padding-inline-start: 5rem;
    }
}
@media only screen and (max-width: 1000px) {
    .imagesContainer{
        left: -200px;
    }
}
@media only screen and (max-width: 790px) {
    .imagesContainer{
        left: -280px;
    }
}
@media only screen and (max-width: 680px) {
    .imagesContainer{
        left: -320px;
    }
}
@media only screen and (max-width: 490px) {
    .imagesContainer{
        left: -370px;
    }
}
  