.skillsContainer{
    margin-top: 2rem;
    padding-inline: 24px;
}

  .parallax {
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .scroller {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    color: #71717a;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  .parallax span {
    display: block;
    margin-right: 30px;
  }
@media only screen and (min-width: 1320px) {
    .skillsContainer{
        padding-inline: 5rem;
    }
}